@layer base {
  /* nunito-sans-regular - latin */
  @font-face {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 400;
    src: url("@/assets/fonts/nunito-sans-v12-latin-regular.eot"); /* IE9 Compat Modes */
    src: local(""),
      url("@/assets/fonts/nunito-sans-v12-latin-regular.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-IE8 */ url("@/assets/fonts/nunito-sans-v12-latin-regular.woff2")
        format("woff2"),
      /* Super Modern Browsers */
        url("@/assets/fonts/nunito-sans-v12-latin-regular.woff") format("woff"),
      /* Modern Browsers */
        url("@/assets/fonts/nunito-sans-v12-latin-regular.ttf")
        format("truetype"),
      /* Safari, Android, iOS */
        url("@/assets/fonts/nunito-sans-v12-latin-regular.svg#NunitoSans")
        format("svg"); /* Legacy iOS */
  }
  /* nunito-sans-900 - latin */
  @font-face {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 900;
    src: url("@/assets/fonts/nunito-sans-v12-latin-900.eot"); /* IE9 Compat Modes */
    src: local(""),
      url("@/assets/fonts/nunito-sans-v12-latin-900.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-IE8 */ url("@/assets/fonts/nunito-sans-v12-latin-900.woff2")
        format("woff2"),
      /* Super Modern Browsers */
        url("@/assets/fonts/nunito-sans-v12-latin-900.woff") format("woff"),
      /* Modern Browsers */ url("@/assets/fonts/nunito-sans-v12-latin-900.ttf")
        format("truetype"),
      /* Safari, Android, iOS */
        url("@/assets/fonts/nunito-sans-v12-latin-900.svg#NunitoSans")
        format("svg"); /* Legacy iOS */
  }
}

/* ./components/the-header.vue */
.header {
  @apply border-b border-light-gray shadow-lg;
}

.header > div {
  @apply container mx-auto flex justify-between xl:py-8;
}

.header__navigation {
  @apply flex justify-end items-center mr-8;
}

.header__link {
  @apply px-4;
}

.blue-button {
  @apply bg-secondary px-8 py-2 rounded-full text-white;
}